__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

.venv/
env/
venv/

.vscode/
.idea/

data/*
!data/.gitkeep

datasets/*
!datasets/.gitkeep

runs/*
!runs/.gitkeep

exports/*
!exports/.gitkeep

*.pt
*.onnx
*.engine
*.tflite
*.mlmodel
*.pb

*.log
